<div class="container container-fluid">
    <div class="row">
        <span class="title text-center">Jabberwocky</span>
    </div>
    <div class="row">
        <whc-card>
            <h1 header>Player Details</h1>
            <h3><whc-label for="txtRoomName">Name</whc-label></h3>
            <whc-text-input id="txtRoomName"></whc-text-input>
        </whc-card>
    </div>
    <div class="row">
        <div class="col">
            <whc-card>
                <h1 header>Solo Play</h1>
                <div class="container container-fluid">
                    <div class="row">
                        <whc-button>Bandersnatch</whc-button>
                    </div>
                    <div class="row">
                        <whc-button>Borogroves</whc-button>
                    </div>
                </div>
            </whc-card>
        </div>
        <div class="col">
            <whc-card>
                <h1 header>Multiplayer</h1>
                <div class="row">
                    <span class="col">
                        <div class="row">
                            <h3><whc-label for="txtRoomName">Name</whc-label></h3>
                            <whc-text-input id="txtRoomName"></whc-text-input>
                        </div>
                        <div class="row">
                            <h3><whc-label for="txtRoomName">Password</whc-label></h3>
                            <whc-text-input id="txtRoomName"></whc-text-input>
                        </div>
                    </span>
                    <span class="col">
                        <div class="row">
                            <h3><whc-label for="countPlayer">Max Players</whc-label></h3>
                            <whc-counter #countPlayer id="countPlayer" [value]="4" [min]="2" [max]="8"></whc-counter>
                        </div>
                        <div class="row">
                            <whc-button>Start</whc-button>
                        </div>
                    </span>
                </div>
            </whc-card>
        </div>
    </div>
</div>
