<div class="container container-fluid">
    <div class="row">
        <span class="title text-center">Jabberwocky</span>
    </div>
    <div class="row">
        <div class="col">
            <whc-card>
                <h1 header>Solo Play</h1>
                <div class="container container-fluid">
                    <div class="row">
                        <whc-button>Bandersnatch</whc-button>
                    </div>
                    <div class="row">
                        <whc-button>Borogroves</whc-button>
                    </div>
                </div>
            </whc-card>
        </div>
        <div class="col">
            <lipwig-create-card></lipwig-create-card>
        </div>
    </div>
</div>
