@import "bootstrap/scss/functions";

@import "variables";
@import "theme";

.title {
    @extend .display-2;

    color: $title;
}

html, body {
    background-color: $body-bg;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/forms/form-text";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/navbar";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
