<whc-card>
    <h2 header>Player Details</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3><whc-label for="txtPlayerName">Captain Name</whc-label></h3>
                <whc-text-input id="txtPlayerName"></whc-text-input>
            </div>
            <div class="col">
                <h3><whc-label for="txtShipName">Ship Name</whc-label></h3>
                <whc-text-input id="txtShipName"></whc-text-input>
            </div>
        </div>
    </div>
</whc-card>
