$theme-name: 'pirate';
$gold: #e8e550;
$wood: #c28244;
$parchment: #ebd5b3;
$ocean: #0b2bb4;

$primary: $wood;
$border-color: $gold;
$input-bg: $wood;
$card-bg: $parchment;
$body-bg: $ocean;
$input-border: thick solid $border-color;

$title: white;

$outer-border: thin solid black;

.btn-primary,
.form-text {
    border: $input-border;
}

.outer {
    display: inline-block;
    border: $outer-border;
}
