/* You can add global styles to this file, and also import other style files */
@use '~scss/themes/pirate' as theme;

html, body, boarding-party {
    background-color: theme.$ocean;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
