<div class="container">
    <div class="row">
            <span class="title">Boarding Party</span>
    </div>
    <div class="row">
        <span class="col">
            <whc-card>
                <h1 header>Player</h1>
                {{code}}
            </whc-card>
        </span>
        <span class="col">
            <whc-card>
                <h1 header>Game</h1>
                {{code}}
            </whc-card>
        </span>
    </div>
    <div class="row">
        <span class="col">
            <whc-card>
                <h1 header>Players</h1>
                <ul>
                    <li>Player 1</li>
                </ul>
            </whc-card>
        </span>
    </div>
</div>
